@media screen and (max-width: 300px) {
    .container p {
    font-size:15rem;
    }
}
    
@media screen and (max-width: 400px) {
    .container h1 {
    font-size:30rem;
    }
    .container p {
    font-size:14rem;
    }
}
/*contact us*/
#margin-left{
    margin-left: 20%;
}
.form-kontak{
    border-bottom: 1px solid rgb(224, 219, 219);
}

#btn1{
    background-color: rgb(148, 26, 148);
    color: white;
}
#header{
    background-color: rgb(148, 26, 148);
    color: white;
    z-index: 2;
}
.contact{
    background-image: url(../img/poto4.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 150% 150%;
    background-repeat: no-repeat;
    
}

/*Dashboard-admin*/
.left, .icon1, .nav-item{
    color: white;
}
.nav-link:hover{
    background-color: rgb(121, 179, 156);
}
.navadmin, .mynav{
    background-color: rgb(32, 204, 167);
}
#nav{
    margin-left: 50px;
}
.search{
    outline: none;
}
.card-body-icon{
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 95px;
    opacity: 0.5;
    font-size: 110px;
}
.icon{
    margin-left: 20px;
}

.cal{
    background-image: url(../img/poto6.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 4px;
    width: 18rem; 
    
}
.right-tanggal{
    width: 18rem; 
    height: 10rem;
}
.card-kanan{
    width: 18em;
    border-radius: 8px;
}
.bg{
    background-color: coral;
}
/*order list*/
#left{
    margin-left: 600px;
}
#bell{
    margin-left: 650px;
}
.tableFixHead{ 
    overflow-y: scroll; 
    height: 300px;
}
.tableFixHead thead th{ 
    position: sticky; top: -1px;
 }

table  { 
    border-collapse: collapse; 
    width: 100%; 
}
th, td { 
    padding: 8px 16px; 
}
th{ 
    background:#eee; 
}

#OrderBg{
    background: linear-gradient(rgb(195, 197, 85),rgb(141, 190, 202),rgb(124, 212, 146));
    background-repeat: no-repeat;
}
 /*update order */
 .upod{
     width: 100%;
     max-width: 800px;
     margin-left: 18%;
     margin-top: 95px;
     padding-top: 10px;
 } 
#headOrder{
    margin-top: 130px;
}
 .form-update{
     width: 100%;
     max-width: 200px;
 }
 #updateButton{
     margin-left: 13%;
 }
 .content-order{
     margin-top: 100px;
     margin-bottom: 20px;
 }
 #UpOrder{
     background-color: rgb(148, 222, 245);
     height: 50px;
     padding: 4px;
 }
 .order{
     background: linear-gradient(rgb(123, 201, 197),rgb(192, 151, 196));
     -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 100%;
     background-repeat: no-repeat;
 }
 /*Produk List*/
#addProd{
    margin-left: 50%;
}
.ProdukBg{
    background: linear-gradient(rgb(168, 235, 235),rgb(144, 202, 209), rgb(166, 140, 190)) ;
}
/*User list */
#userList{
    margin-left: 40%;
}
.UserBg{
    background-image: url(../img/baru.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*Update Produk*/
.headProduk{
    margin-top: 100px;
}
.cardProduk{
    margin-top: 100px;
    margin-left: 15%;
}
#ProdukButton{
    margin-left: 46%;
}
#h3Update{
    background-color: rgb(24, 116, 116);
    color: white;
}
.UpdateProd{
    background-image: url("../img/22133.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*Entry Produk*/
#EntryHead{
    background-color: rgb(162, 118, 204);
    color: white;
}
.EntryBg{
    background-image: url("../img/186.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*PROFIL ADMIN */
.profil-admin{
    margin-top: 130px;
    margin-left: 190px;
    width: 100%;
    max-width: 1000px;
}
.btn-padmin{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 28%;
}
.data-admin{
    background-color: rgb(80, 170, 166);
}
.admin-bg{
    background-color: linen;
}

.data-update{
    margin-top: 5em;
    margin-left: 17.5em;
    margin-bottom: 3em;

}
#bgprofil{
    height: 500px;
}